.blue{
    background-color: #0e6cff;
}
.orange{
    background-color: #ff8700;
}
.green{
    background-color: #4caf50;
}
.button-primary {
  @include button-style($primary-color);
}

.button-secondary {
  @include button-style($secondary-color);
}