$buttons: (
  primary: #0e6cff,
  secondary: #ff8700,
  tertiary: #4caf50,
);

@each $name, $color in $buttons {
  .button-#{$name} {
    background-color: $color;
    margin: 1em;
    padding: 1em;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
