$font-primary: "Arial", sans-serif;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-title-big: 32px;

body {
  font-family: $font-primary;
  font-size: $font-size-medium;
}

p {
  padding: 1em;
}
