@mixin title-big {
  font-size: $font-size-title-big;
  font-weight: bold;
  text-transform: uppercase;
}

.title-big {
  @include title-big;
}

@mixin grid($amountPerLine) {
  display: flex;
  flex-wrap: wrap;
  //width di figlio della griglia
  & > div {
    width: 100 / $amountPerLine;
  }
}

.grid {
  @include grid(3);
}

@mixin centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.centered {
  @include centered;
}
